body {
	min-width: 350px;
}
.header{
	border: 1xp;
}
.eventButton{
	min-width: 250px;
	/*min-height: 150px;*/
}

.eventItem{

}
.eventInfo {
	text-align: left;
	float: left;
	width: 180px;
}
.eventPic {
	text-align: left;
	float: right;
	width: 120px;
}