#popup{
	min-width: 370px;
	margin: 0px;
	padding: 0px;
}


.header{
	max-height: 50px;
	border: 1xp;
	margin-bottom: 5px;
}
.eventButton{
	min-width: 250px;
	/*min-height: 150px;*/
}

.eventItem{

}
.eventInfo {
	text-align: left;
	float: left;
	width: 160px;
}
.eventPic {
	text-align: right;
	float: right;
	width: 120px;
}